div.sheet-manger {
	padding-bottom : 50px;
}
.list-stage li.stage-element {
	border : 1px solid #e1e1e1;
	border-bottom : 0px;
	padding : 0px;
	display : block;
	float : left;
}

.list-stage li.stage-element:last-child {
	border-bottom : 1px solid #e1e1e1;
}

.list-stage li.stage-element:hover {
	background : #f5f5f5;
}

div.stage, div.stage-percent {
	padding-top : 20px;
}

.list-stage li.list-detail-element {
	border : 1px solid #e1e1e1;
	border-right : 0px;
	border-top : 0px;
	padding : 15px 0px 0px 0px;
	display : block;
	float : left;
}

.list-stage li.list-detail-element:hover {
	background : #AAF5AA;
}

.list-stage li.list-status-element {
	padding : 15px 0px;
	color : #df4747;
 	display :block;
 	float : left;
 	background : #F2CCCC;
}

li.list-customer-detail { 
float : left; 
display : block; 
border : 1px solid #e1e1e1;
border-bottom : 0px;
padding  : 15px 0px;
clear : both;
}

li.list-customer-detail:last-child {
border-bottom : 1px solid #f1f1f1;
}

.border-1px  {
	border : 1px solid #e1e1e1;
}

.float-left {
	float : left;
	display : block;
}

li.list-detail-profit {
	padding : 10px 0px;
    border : 1px solid #e1e1e1;
    border-bottom : 0px;
    display : block;
    float : left;
    clear : both;
}

li.list-detail-profit:last-child {
	border-bottom : 1px solid #e1e1e1;
}

.list-detail-profit ul li {
	padding : 10px 0px;
    border-bottom : 0px;
    display : block;
    float : left;
 
}

.list-head  {
	border : 1px solid #e1e1e1;
    border-bottom : 0px;
    display : block;
    float : left;
}

.list-head div, .list-detail-profit div {
	padding-top : 10px;
}

div.count-profit {
	margin-top : 50px;
	padding : 0px;
}

.clr {
	clear : both;
}

ul.member-of-project {
	display : block;
	border : 1px solid #e1e1e1;
	padding : 5px;
}

ul.member-of-project:last-child{
	border-right : 0px;
}

li.list-member-of-project {
float: left;
padding: 5px;
background: #408ABE;
color: #fff;
margin: 0px 10px 0px 0px;
}

li.list-member-of-project:first {
	margin-left : 10px;
}

li.operation-time-profit, .list-head ul li {
	display: block;
padding: 10px 0px;
border-left: 1px solid #e1e1e1;
}

.border-left {
	border-left : 1px solid #e1e1e1;
}